path "{{ vault_dashboard_secret_engine }}/+/{{ vault_dev_secret_engine }}/*" {
  capabilities = ["create", "update", "read", "list"]
}

path "{{ vault_promo_secret_engine }}/+/{{ vault_dev_secret_engine }}/*" {
  capabilities = ["create", "update", "read", "list"]
}
